body{
  justify-content: center;
  background-color: hwb(192 57% 24%);
  background-image: url(poching.png);
  background-attachment: fixed;
  background-size: 100% 100%;
  
}



h1 {
  font-size: 50px;
  justify-content: center;
  color: burlywood;
  font-style: italic;
}



p {
  font-size: 40px;
  color: lightcoral;
   font-style: italic;
}


button {
  font-size: 25px;
  padding: 30px 30px;
  margin: 5px;
  cursor: pointer;
  background-color: rosybrown;
  color: #fff;
  border: none;
  border-radius: 4px;
  justify-content: center;
}


button:hover {
  background-color: #088680;
}